@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap%27');

*{
    margin:0;
    padding: 0;
}


body {
    background-image: url(../Imagenes/fondoPrincipal.jpg);
    font-family: 'Karla', sans-serif;
}

/*
Contiene: botones, 404, usuario y formulario
Organizado en un grid
*/
.cabecera { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: url(../Imagenes/cabecera.jpg);

    position: fixed;
    top: 0;
    left:0;

    width: 100%;
    height: 25%;

    justify-content: space-between;
}

.botones  {
    grid-column: 1;
    grid-row: 1/span 2;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    grid-column: 2;
    grid-row: 2 /span -1;
    margin-top: 10%;
    width: 200px;
    height: 90px;
}

.usuario {
    grid-column: 3;
    grid-row: 1/span 2;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10%;
    margin-right: 30px;
}

/*Botón cerrar sesión*/
.usuario button{
    width: 85px;
    height: 25px;
    font-size: 0.8em;
}

.formulario {
    grid-column: 1/span 3;
    grid-row:3;
    margin-left: 4%; 
}

.perfil{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

button, input[type="submit"] {
    background-color: lightsteelblue;
    color: whitesmoke;
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
}

.botones button {
    width: 160px;
    height: 25px;
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
}

/*Para que ocupe más espacio de la tercera fila*/
input[type="text"] {
    width: 90%;
}

/*Botón "Buscar"*/
.cabecera input[type="submit"]{
    width: 80px;
    height: 25px;
}

input[type="text"]::before {
    content: url(../Imagenes/lupa.jpg);
}

button:hover, input[type="submit"]:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color:white;
}


/*CUERPO*/
.cuerpo{
    width: 50%;
    margin: 200px;
    padding-left: 150px;
}

.respuestas h2, .tuRespuesta h2{
    margin-bottom: 20px;
}

.pregunta p {
    border-radius: 3px;
    margin-bottom: 10px;
}

.votos{
    background: linear-gradient(to right, rgb(155, 173, 221), white);
    margin-bottom: 15px !important; /*Para que el margen de pregunta p no afecte a este*/
}

.votos img{/*Imágenes de votos (like, dislike)*/
    width: 15px;
    height: 15px; 

}

.vista{
    background: linear-gradient(to right, burlywood, white);
    margin-top: 20px;
    margin-bottom: 5px !important; /*Para que el margen de pregunta p no afecte a este*/
}


label { /*Etiquetas de la pregunta*/
    background-color: rgb(214, 220, 228);
    border-radius: 10px;
    border: 1px solid gray;
}

.parteUsuario { /*Fecha, nombre del usuario y fotoUsuario*/
    margin-left: 400px;
    text-align: center;
    font-size: small;  
}

.parteUsuario p{
    margin-bottom: 0px;
}

.fotoUsuario{
    border-radius: 100%;
    width: 40px;
    height: 40px; 
}


.respuesta{ /*Para que los votos de la respuesta y la respuesta se coloquen más a la derecha */
    margin-left: 45px;
}

.tuRespuesta button{/*Publica tu respuesta*/
    width: 160px;
    height: 25px;
    text-align: center;

    margin-left: 230px;
    margin-top: 20px;
}

textarea { /*Respuesta del usuario*/
    width: 90.5%;
    padding-bottom: 200px;
}
