html{
    height: 100%;
}
body {
    background: linear-gradient(to top, rgb(255,255,255),rgb(0, 0, 0));
    height: 100%;
    font-family: sans-serif;
    color: #f8f8f8;
    padding-left: 15px;
    
}
h1{
    padding-left: 40px;
    color: #dcdcdc;
    text-align: center;
}
h2{
    padding-left: 10px;
    
    color: #dcdcdc;
    text-align: center;
}
strong{
    color:orange;
}
